.navbar{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}
.navbar > p{
    margin-left: 5%;
    cursor: pointer;
} 
.user{
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-right: 5%;
}
.user p{
    cursor: pointer;
}
a{
    color: inherit;
}
.register{
    margin: auto;
    width: fit-content;
    margin-top: 10%;
}
.register input{
    margin: auto;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 320px;
    padding: 5%;
}
.register > input:nth-child(7){
    margin: auto;
    width: fit-content;
}
.login{
    margin: auto;
    width: max-content;
}
.login input{
    margin: auto;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 320px;
    padding: 5%;
}
.login > input:nth-child(3){
    margin: auto;
    width: fit-content;
}
#block{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,30%);
}
#block img{
    width: 100%;
    height: 70%;
    display: block;
}
.cart_button{
    margin-left: auto;
}
#content img{
    width: 200px;
    height: 200px;
}
.cart{
    display: flex;    
}
#content{
    width: 73%;
    margin: 1%;
}
#total{
    width: 23%;
    margin: 1%;
    margin-left: auto;
}
